### Swift ###
# Xcode
#
#
## User settings
xcuserdata/
.DS_Store
*.xcuserstate
*.xcuserdata/
UserInterfaceState.xcuserstate
*.xcodeproj
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
